<template lang="pug">
div.app
    h1 Welcome to AVAVA management interface

    aside: ul
        li: router-link(to="pwlogin") Login with password
        li Login with Google account

    router-view
</template>

<script>
import HomePage from "./HomePage.vue";
export default {
}
</script>
